name: Build container 

on:
  workflow_dispatch:
    inputs:
      PORT:
        description: 'The port of your application'
        required: true
        default: "3000"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t vise-recu:latest .

      - name: Run container
        run: |
          docker run -d -p ${{ github.event.inputs.PORT }}:${{ github.event.inputs.PORT }} --name vise-recu vise-recu:latest
          sleep 15
          docker ps -a
          docker logs vise-recu

      - name: Check API availability
        run: |
          echo "Testing if API is up..."
          curl -v http://localhost:${{ github.event.inputs.PORT }}/client || true

      - name: Setup hurl (API testing tool)
        uses: gacts/install-hurl@v1
